#diop{
    width: 200px;
    height: 200px;
    background-color: aqua;
    transition-property: width;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 1s;
}

#diop:hover{
    width: 400px;
    background-color: aquamarine;
}

@keyframes keyframe{
    0%{
        background-color: brown;
        left: 0%;
        top: 0px;
    }
    25%{
        background-color: brown;
        left: 25%;
        top: 0px;
        
    }
    50%{
        background-color: brown;
        left: 50%;
        top: 0px;
        
    }
    75%{
        background-color: brown;
        left: 75%;
        top: 0px;
        
    }
    100%{
        background-color: brown;
        left: 100%;
        top: 0px;
        
    }
}

#diop2{
    width: 100px;
    height: 100px;
    position: relative;
    background-color: #009866;
    animation: keyframe;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
.head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: antiquewhite;
}

.head h1, p.head{
    top: 0px;
    font-size: 75px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #009866;
}
.head p.head{
    font-size: large;
    position: relative;
}

body h1{
    font-family: 'Times New Roman', Times, serif;
    background-color: antiquewhite;
    border-radius: 32px;
    text-align: center;
}

.partie1, .partie2, .partie3{
    background-color: aliceblue;
}

.corps{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 25px;
    margin: 5px;

}

.plan{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    background-color: aliceblue;
    margin: 5px;
    border-radius: 25px;

}